# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
out/
.turbo/
coverage/

# TypeScript cache
*.tsbuildinfo

# Logs
*.log
logs/

# Environment / secrets
.env
.env.*
!.env.example
*.pem
*.key

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Prisma
# No ignoramos migrations porque sí deben subirse al repo.

# Marcador local del script de arranque
.tc-setup-done
