# deps
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/

# logs
*.log

# env / secrets
.env
.env.*
*.pem
*.key

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# prisma
# (NO ignores migrations, porque sí quieres subirlas)
